In [1]:
# Required python packages:
import sqlite3
import pandas as pd
import re
import numpy as np
import seaborn as sns

In [2]:
# Importing dataset:
df = pd.read_csv("indeedjobs2022.csv")

In [3]:
# Prevewing the values in each feature:
df.apply(lambda col: col.unique())

Title          [Master Data Analyst, Business Intelligence An...
Company        [Robert Half, Vault Credit Corporation, Staffw...
Location       [Calgary, AB, Montréal, QC, Toronto, ON, Ottaw...
JobLink        [https://ca.indeed.com/pagead/clk?mo=r&ad=-6NY...
CompanyLink    [https://ca.indeed.com/cmp/Robert-Half?campaig...
DatePosted     [2022-06-16, 2022-06-22, 2022-06-09, 2022-06-1...
ExtractDate                 [2022-06-22, 2022-06-23, 2022-06-25]
Description    [Our fast paced client in Calgary is currently...
Salary         [nan, $65,000–$75,000 a year, $50,000–$65,000 ...
JobType        [Temporary, Fixed term contract, nan, Full-tim...
Remote          [nan, Remote, Hybrid remote, Temporarily remote]
Reviews        [12,757 reviews, 2 reviews, 21 reviews, nan, 1...
Stars          [3.9, 3.5, nan, 3.7, 3.8, 4.1, 3.6, 3.3, 2.9, ...
dtype: object

In [4]:
#  Selecting features with missing values 
NA = [(c, df[c].isna().mean()*100) for c in df]
NA = pd.DataFrame(NA, columns=["column_name", "percentage"])

# Display the percentage of missing values in each feature
NA = NA[NA.percentage > 0]
NA.sort_values("percentage", ascending=False)

    column_name  percentage
8        Salary   80.728745
10       Remote   78.218623
9       JobType   34.898785
11      Reviews   23.805668
12        Stars   23.805668
2      Location    5.425101
1       Company    1.295547
4   CompanyLink    1.295547
0         Title    0.485830
7   Description    0.485830

In [5]:
df = df.drop_duplicates(subset=['Description'], keep='last')

In [6]:
#  Selecting features with missing values 
NA = [(c, df[c].isna().mean()*100) for c in df]
NA = pd.DataFrame(NA, columns=["column_name", "percentage"])

# Display the percentage of missing values in each feature 
NA = NA[NA.percentage > 0]
NA.sort_values("percentage", ascending=False)

    column_name  percentage
8        Salary   78.203240
10       Remote   76.730486
9       JobType   35.640648
11      Reviews   24.742268
12        Stars   24.742268
2      Location    4.565538
1       Company    1.178203
4   CompanyLink    1.178203
0         Title    0.147275
7   Description    0.147275

In [7]:
df.Description.str.lower().head(8)  # Convert all comments to lowercase

0     our fast paced client in calgary is currently ...
1     get to know vault credit corporation\nvault is...
5     adecco is currently hiring for a temporary, fu...
6     delta school district acknowledges that we lea...
7     are you interested in the world of data? do yo...
8     clinical data analyst – blood gas specialist \...
9     help us boldly shape retail in canada \ncanadi...
14    our client in the insurance industry is lookin...
Name: Description, dtype: object

In [8]:
dfl = df.Description.str.lower()
python = dfl.str.contains("python")
powerbi = dfl.str.contains("power bi")
tableau = dfl.str.contains("Tableau")
qliksense = dfl.str.contains("qlik sense")
looker = dfl.str.contains("looker")
klipfolio = dfl.str.contains("klipfolio")
domo = dfl.str.contains("domo")

df['python'] = python
df['powerbi'] = powerbi
df['tableau'] = tableau
df['qliksense'] = qliksense
df['looker'] = looker
df['klipfolio'] = klipfolio
df['domo'] = domo

In [9]:
# Python3 program to count True booleans in a list
  
def count(lst):
  
    return sum(bool(powerbi) for powerbi in lst)

percent = (count(powerbi))/(len(powerbi))

print(percent)

0.17083946980854198

In [10]:
df['powerbi'].value_counts(normalize=True).mul(100).astype(str)+'%'

False    83.03834808259587%
True     16.96165191740413%
Name: powerbi, dtype: object

In [ ]:
fig , ax = plt.subplots(2,2,figsize = (50,22))
for i , subplots in zip (data_1_object , ax.flatten()):
  sns.countplot(data_1_object[i],ax = subplots)
plt.show()

In [51]:
T = [(c, df[c].value_counts(normalize=True).mul(100)) for c in df]

In [52]:
T = pd.DataFrame(T, columns=["column_name", "percentage"])

In [53]:
print(T)

    column_name                                         percentage
0         Title  Business Analyst                              ...
1       Company  BMO Financial Group          2.384501
TD Bank ...
2      Location  Toronto, ON               31.790123
Montréal, ...
3       JobLink  https://ca.indeed.com/rc/clk?jk=4cd7c2b10ea5b6...
4   CompanyLink  https://ca.indeed.com/cmp/Robert-Half?campaign...
5    DatePosted  2022-06-22    11.340206
2022-06-25    10.16200...
6   ExtractDate  2022-06-25    66.273932
2022-06-23    30.63328...
7   Description  Our fast paced client in Calgary is currently ...
8        Salary  $80,000–$90,000 a year     2.702703
$38 an hou...
9       JobType  Full-time                                    7...
10       Remote  Remote                63.291139
Hybrid remote ...
11      Reviews  2 reviews         2.739726
5,904 reviews     2...
12        Stars  3.8    18.003914
3.9    12.524462
4.0     9.19...
13       python  False    79.20354
True     20.79646
Name: pyth...
14      powerbi  False    83.038348
True     16.961652
Name: po...
15      tableau       False    100.0
Name: tableau, dtype: float64
16    qliksense  False    99.557522
True      0.442478
Name: ql...
17       looker  False    96.902655
True      3.097345
Name: lo...
18    klipfolio     False    100.0
Name: klipfolio, dtype: float64
19         domo  False    98.820059
True      1.179941
Name: do...

In [54]:
T = T[T.percentage > 0]
T.sort_values("percentage", ascending=False)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
#tableau = df.Description.str.lower().str.contains("tableau")

In [ ]:
python.head(50)

In [ ]:
df.Description.str.len().head(30)  # Get the length of all comments

In [ ]:
print(df)