In [1]:
# Required python packages:
import sqlite3
import pandas as pd
import re
import numpy as np
import seaborn as sns
import math

In [2]:
# Importing dataset:
df = pd.read_csv("indeedjobs2022.csv")

In [3]:
# Prevewing the values in each feature:
df.apply(lambda col: col.unique())

# Row count
print(len(df))

2576

In [4]:
#  Selecting features with missing values 
NA = [(c, df[c].isna().mean()*100) for c in df]
NA = pd.DataFrame(NA, columns=["column_name", "percentage"])

# Display the percentage of missing values in each feature
NA = NA[NA.percentage > 0]
NA.sort_values("percentage", ascending=False)

    column_name  percentage
8        Salary   83.579193
10       Remote   76.863354
9       JobType   31.638199
11      Reviews   23.990683
12        Stars   23.990683
2      Location    8.501553
1       Company    2.251553
4   CompanyLink    2.251553
0         Title    1.746894
7   Description    1.746894

In [5]:
df = df.drop_duplicates(subset=['Description'], keep='last')

In [6]:
# Row count
print(len(df))

# Prevewing the values in each feature
print(df.apply(lambda col: col.unique()))

1413
Title          [Master Data Analyst, Business Intelligence An...
Company        [Robert Half, Vault Credit Corporation, Adecco...
Location       [Calgary, AB, Montréal, QC, Ottawa, ON, Delta,...
JobLink        [https://ca.indeed.com/pagead/clk?mo=r&ad=-6NY...
CompanyLink    [https://ca.indeed.com/cmp/Robert-Half?campaig...
DatePosted     [2022-06-16, 2022-06-22, 2022-06-14, 2022-06-1...
ExtractDate    [2022-06-22, 2022-06-23, 2022-06-25, 2022-07-0...
Description    [Our fast paced client in Calgary is currently...
Salary         [nan, $65,000–$75,000 a year, $90,000–$115,000...
JobType        [Temporary, Fixed term contract, nan, Fixed te...
Remote          [nan, Remote, Hybrid remote, Temporarily remote]
Reviews        [12,757 reviews, 2 reviews, 18,938 reviews, na...
Stars          [3.9, 3.5, 3.8, nan, 3.7, 4.1, 3.6, 3.2, 3.4, ...
dtype: object

In [7]:
#  Selecting features with missing values 
NA = [(c, df[c].isna().mean()*100) for c in df]
NA = pd.DataFrame(NA, columns=["column_name", "percentage"])

# Display the percentage of missing values in each feature 
NA = NA[NA.percentage > 0]
NA.sort_values("percentage", ascending=False)

    column_name  percentage
8        Salary   80.537863
10       Remote   77.282378
9       JobType   34.182590
11      Reviews   24.557679
12        Stars   24.557679
2      Location    5.307856
1       Company    0.707714
4   CompanyLink    0.707714
0         Title    0.070771
7   Description    0.070771

In [8]:
#df.Description.str.lower().head(8)  # Convert all comments to lowercase

In [9]:
df = df.Title.str.lower()
data_analyst = df.str.contains("data analyst")
business_intelligence = df.str.contains("business intelligence")
senior_analyst = df.str.contains("senior analyst")
business_analyst = df.str.contains("business analyst")
payroll_analyst = df.str.contains("payroll analyst")
security_analyst = df.str.contains("security analyst")
analyst = df.str.contains("analyst")

df['data_analyst'] = data_analyst
df['business_intelligence'] = business_intelligence
df['senior_analyst'] = senior_analyst
df['business_analyst'] = business_analyst
df['payroll_analyst'] = payroll_analyst
df['security_analyst'] = security_analyst
df['analyst'] = analyst

In [10]:
data_analyst = round(((np.count_nonzero(data_analyst))/(df.Description.count())*100), 3)
business_intelligence = round(((np.count_nonzero(business_intelligence))/(df.Description.count())*100), 3)
senior_analyst = round(((np.count_nonzero(senior_analyst))/(df.Description.count())*100), 3)
business_analyst = round(((np.count_nonzero(business_analyst))/(df.Description.count())*100), 3)
payroll_analyst = round(((np.count_nonzero(payroll_analyst))/(df.Description.count())*100), 3)
security_analyst = round(((np.count_nonzero(security_analyst))/(df.Description.count())*100), 3)
analyst = round(((np.count_nonzero(analyst))/(df.Description.count())*100), 3)

AttributeError: 'Series' object has no attribute 'Description'

In [ ]:
df2 = pd.DataFrame({"Name":['data_analyst', 'business_intelligence', 'senior_analyst', 'business_analyst', 'payroll_analyst', 'security_analyst', 'analyst'],
                   "Percentage":[data_analyst, business_intelligence, senior_analyst, business_analyst, payroll_analyst, security_analyst, analyst]})

In [ ]:
df2.sort_values("Percentage", ascending=False)

In [ ]:
# Remove false values from a list in Python 
df = df.loc[df.data_analyst, :]

In [ ]:
dfl = df.Description.str.lower()
python = dfl.str.contains("python")
powerbi = dfl.str.contains("power bi")
tableau = dfl.str.contains("tableau")
qliksense = dfl.str.contains("qlik sense")
looker = dfl.str.contains("looker")
klipfolio = dfl.str.contains("klipfolio")
domo = dfl.str.contains("domo")

df['python'] = python
df['powerbi'] = powerbi
df['tableau'] = tableau
df['qliksense'] = qliksense
df['looker'] = looker
df['klipfolio'] = klipfolio
df['domo'] = domo

In [ ]:
python = round(((np.count_nonzero(python))/(df.Description.count())*100), 3)
powerbi = round(((np.count_nonzero(powerbi))/(df.Description.count())*100), 3)
tableau = round(((np.count_nonzero(tableau))/(df.Description.count())*100), 3)
qliksense = round(((np.count_nonzero(qliksense))/(df.Description.count())*100), 3)
looker = round(((np.count_nonzero(looker))/(df.Description.count())*100), 3)
klipfolio = round(((np.count_nonzero(klipfolio))/(df.Description.count())*100), 3)
domo = round(((np.count_nonzero(domo))/(df.Description.count())*100), 3)

In [ ]:
df1 = pd.DataFrame({"Name":['python', 'powerbi', 'tableau', 'qliksense', 'looker', 'klipfolio', 'domo'],
                   "Percentage":[python, powerbi, tableau, qliksense, looker, klipfolio, domo]})

In [ ]:
df1.sort_values("Percentage", ascending=False)

In [ ]:
dft = df.Location.str.lower()
AB = dfl.str.contains(", ab")
BC = dfl.str.contains(", bc")
ON = dfl.str.contains(", on")
NS = dfl.str.contains(", ns")
QC = dfl.str.contains(", qc")
SK = dfl.str.contains(", sk")
NB = dfl.str.contains(", nb")

df['AB'] = data_analyst
df['BC'] = business_intelligence
df['ON'] = senior_analyst
df['NS'] = business_analyst
df['QC'] = payroll_analyst
df['SK'] = security_analyst
df['NB'] = analyst

In [ ]:
AB = round(((np.count_nonzero(AB))/(df.Description.count())*100), 3)
BC = round(((np.count_nonzero(BC))/(df.Description.count())*100), 3)
ON = round(((np.count_nonzero(ON))/(df.Description.count())*100), 3)
NS = round(((np.count_nonzero(NS))/(df.Description.count())*100), 3)
QC = round(((np.count_nonzero(QC))/(df.Description.count())*100), 3)
SK = round(((np.count_nonzero(SK))/(df.Description.count())*100), 3)
NB = round(((np.count_nonzero(NB))/(df.Description.count())*100), 3)

In [ ]:
df2 = pd.DataFrame({"Name":['AB', 'BC', 'ON', 'NS', 'QC', 'SK', 'NB'],
                   "Percentage":[AB, BC, ON, NS, QC, SK, NB]})

In [ ]:
df2.sort_values("Percentage", ascending=False)

In [ ]:
sns.countplot(x="Remote", data=df)

In [ ]:
df.Description.str.len().head(30)  # Get the length of all comments

In [ ]:
print(df)

In [ ]:
df.to_csv("indeedjobs2022cleaned.csv", index = False)