In [1]:
# Required python packages:
import sqlite3
import pandas as pd
import re
import numpy as np
import seaborn as sns
import math
from wordcloud import WordCloud, STOPWORDS
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt

In [2]:
# Importing datasets:
df = pd.read_csv("indeedjobs2022.csv")
df2 = pd.read_csv("result2.csv")

In [3]:
# Remove useless features 
df.drop(['Salary', 'Reviews', 'CompanyLink', 'Stars', 'JobLink',
         'CompanyLink', 'DatePosted'], axis=1, inplace=True)

df2.drop(['error', 'query', 'companyUrl', 'postedAt', 'appliesClosedAt',
         'jobId', 'applicantsCount', 'companyLogoUrl', 'applyUrl',
         'viewsCount', 'jobState', 'jobPosterProfileUrl',
         'jobPosterName', 'applicantsInPastDay', 'matchedSkills',
         'remoteAllowed', 'experienceLevel', 'companyStaffCount',
         'jobIndustries', 'jobFunctions', 'remoteAllowed',
         'companyDescription'], axis=1, inplace=True)

In [4]:
col_names = list(df.columns)
col_names2 = list(df2.columns)
print(col_names)
print(col_names2)

['Title', 'Company', 'Location', 'ExtractDate', 'Description', 'JobType', 'Remote']
['timestamp', 'companyName', 'jobTitle', 'jobLocation', 'jobDescription', 'jobType', 'workplaceType']

In [5]:
# Remaning columns in df2
df2 = df2.rename(columns={'timestamp': 'ExtractDate', 'companyName': 'Company',
                          'jobTitle': 'Title', 'jobLocation': 'Location',
                          'jobDescription': 'Description', 'workplaceType': 'Remote',
                         'jobType': 'JobType'})

In [6]:
# changing the order of columns in df2
df2 = df2.loc[:,['Title', 'Company', 'Location', 'ExtractDate', 'Description', 'JobType', 'Remote']]

In [7]:
col_names = list(df.columns)
col_names2 = list(df2.columns)
print(col_names)
print(col_names2)

['Title', 'Company', 'Location', 'ExtractDate', 'Description', 'JobType', 'Remote']
['Title', 'Company', 'Location', 'ExtractDate', 'Description', 'JobType', 'Remote']

In [8]:
df = pd.concat([df2, df])

In [9]:
#  Selecting features with missing values 
NA = [(c, df[c].isna().mean()*100) for c in df]
NA = pd.DataFrame(NA, columns=["column_name", "percentage"])
# Display the percentage of missing values in each feature
NA = NA[NA.percentage > 0]
NA.sort_values("percentage", ascending=False)

   column_name  percentage
6       Remote   75.795514
5      JobType   31.455399
2     Location    7.250913
1      Company    2.217006
0        Title    1.669275
4  Description    1.669275

In [10]:
df = df.drop_duplicates(subset=['Description'], keep='last')

In [11]:
# Row count
print(len(df))

# Prevewing the values in each feature
print(df.apply(lambda col: col.unique()))

2235
Title          [Premium Payables Analyst, Demand Planning Ana...
Company        [HUB International, Kellogg Company, Avenue Li...
Location       [Chilliwack, BC, Mississauga, ON, Calgary, AB,...
ExtractDate    [2022-09-23T00:18:37.780Z, 2022-09-23T00:18:47...
Description    [Hi weâ€™re HUB . We are proud to be ranked 5th ...
JobType        [Full-time, Contract, Temporary, Part-time, Ot...
Remote         [nan, On-site, Remote, Hybrid, Hybrid remote, ...
dtype: object

In [12]:
#  Selecting features with missing values 
NA = [(c, df[c].isna().mean()*100) for c in df]
NA = pd.DataFrame(NA, columns=["column_name", "percentage"])

# Display the percentage of missing values in each feature 
NA = NA[NA.percentage > 0]
NA.sort_values("percentage", ascending=False)

   column_name  percentage
6       Remote   75.302013
5      JobType   32.527964
2     Location    4.697987
1      Company    0.805369
0        Title    0.044743
4  Description    0.044743

In [13]:
dfl = df.Title.str.lower()
data_analyst = dfl.str.contains("data analyst")
df['data_analyst'] = data_analyst

In [14]:
df = df[df['data_analyst'] == True]

In [15]:
dfl = df.Description.str.lower()
python = dfl.str.contains("python")
powerbi = dfl.str.contains("power bi")
tableau = dfl.str.contains("tableau")
r = dfl.str.contains(" r ")
bigquery = dfl.str.contains("bigquery")
azure = dfl.str.contains("azure")
googlesheets = dfl.str.contains("google sheets")
aws = dfl.str.contains("aws ")
sql = dfl.str.contains("sql")
excel = dfl.str.contains("excel")
java = dfl.str.contains("java")
scala = dfl.str.contains("scala")

df['python'] = python
df['powerbi'] = powerbi
df['tableau'] = tableau
df['r'] = r
df['bigquery'] = bigquery
df['azure'] = azure
df['googlesheets'] = googlesheets
df['aws'] = aws
df['sql'] = sql
df['excel'] = excel
df['java'] = java
df['scala'] = scala

In [16]:
python = round(((np.count_nonzero(python))/(df.Description.count())), 3)
powerbi = round(((np.count_nonzero(powerbi))/(df.Description.count())), 3)
tableau = round(((np.count_nonzero(tableau))/(df.Description.count())), 3)
r = round(((np.count_nonzero(r))/(df.Description.count())), 3)
bigquery = round(((np.count_nonzero(bigquery))/(df.Description.count())), 3)
azure = round(((np.count_nonzero(azure))/(df.Description.count())), 3)
googlesheets = round(((np.count_nonzero(googlesheets))/(df.Description.count())), 3)
aws = round(((np.count_nonzero(aws))/(df.Description.count())), 3)
sql = round(((np.count_nonzero(sql))/(df.Description.count())), 3)
excel = round(((np.count_nonzero(excel))/(df.Description.count())), 3)
java = round(((np.count_nonzero(java))/(df.Description.count())), 3)
scala = round(((np.count_nonzero(scala))/(df.Description.count())), 3)

In [17]:
df1 = pd.DataFrame({"Name":['python', 'powerbi', 'tableau', 'r', 'bigquery', 'azure', 'googlesheets', 'aws', 'sql', 'excel', 'java', 'scala'],
                   "Percentage":[python, powerbi, tableau, r, bigquery, azure, googlesheets, aws, sql, excel, java, scala]})

In [18]:
df1.sort_values("Percentage", ascending=False)

            Name  Percentage
9          excel       0.715
8            sql       0.637
0         python       0.395
2        tableau       0.320
1        powerbi       0.251
11         scala       0.091
3              r       0.082
5          azure       0.073
7            aws       0.063
10          java       0.058
4       bigquery       0.026
6   googlesheets       0.024

In [19]:
df['postal'] = df['Location'].str[-2:]

In [20]:
# Feature mapping for all true/false column
python =   {True : "python", False : ""}
df['python'] = df['python'].map(python)

powerbi =   {True : "powerbi", False : ""}
df['powerbi'] = df['powerbi'].map(powerbi)

tableau =   {True : "tableau", False : ""}
df['tableau'] = df['tableau'].map(tableau)

r =   {True : "r", False : ""}
df['r'] = df['r'].map(r)

bigquery =   {True : "bigquery", False : ""}
df['bigquery'] = df['bigquery'].map(bigquery)

azure =   {True : "azure", False : ""}
df['azure'] = df['azure'].map(azure)

googlesheets =   {True : "googlesheets", False : ""}
df['googlesheets'] = df['googlesheets'].map(googlesheets)

aws =   {True : "aws", False : ""}
df['aws'] = df['aws'].map(aws)

sql =   {True : "sql", False : ""}
df['sql'] = df['sql'].map(sql)

excel =   {True : "excel", False : ""}
df['excel'] = df['excel'].map(excel)

java =   {True : "java", False : ""}
df['java'] = df['java'].map(java)

scala =   {True : "scala", False : ""}
df['scala'] = df['scala'].map(scala)

In [22]:
df.to_csv("indeedjobs2022cleaned.csv", index = False)

In [23]:
df1.to_csv("indeedjobs2022toolpercentage.csv", index = False)