In [1]:
# Required python packages:
import sqlite3
import pandas as pd

In [2]:
# Importing dataset:
df = pd.read_csv("indeedjobs2022.csv")

In [3]:
# Prevewing the values in each feature:
df.apply(lambda col: col.unique())

Title          [Master Data Analyst, Business Intelligence An...
Company        [Robert Half, Vault Credit Corporation, Staffw...
Location       [Calgary, AB, Montréal, QC, Toronto, ON, Ottaw...
JobLink        [https://ca.indeed.com/pagead/clk?mo=r&ad=-6NY...
CompanyLink    [https://ca.indeed.com/cmp/Robert-Half?campaig...
DatePosted     [2022-06-16, 2022-06-22, 2022-06-09, 2022-06-1...
ExtractDate                             [2022-06-22, 2022-06-23]
Description    [Our fast paced client in Calgary is currently...
Salary         [nan, $65,000–$75,000 a year, $50,000–$65,000 ...
JobType        [Temporary, Fixed term contract, nan, Full-tim...
Remote                              [nan, Remote, Hybrid remote]
Reviews        [12,757 reviews, 2 reviews, 21 reviews, nan, 1...
Stars          [3.9, 3.5, nan, 3.7, 3.8, 4.1, 3.6, 3.3, 2.9, ...
dtype: object

In [4]:
#  Selecting features with missing values 
NA = [(c, df[c].isna().mean()*100) for c in df]
NA = pd.DataFrame(NA, columns=["column_name", "percentage"])

# Display the percentage of missing values in each feature 
NA = NA[NA.percentage > 0]
NA.sort_values("percentage", ascending=False)

    column_name  percentage
8        Salary   87.027027
10       Remote   85.405405
9       JobType   33.513514
11      Reviews   23.783784
12        Stars   23.783784
2      Location    9.189189
1       Company    0.540541
4   CompanyLink    0.540541

In [5]:
#df = df.drop_duplicates(subset=['Description'], keep='last')

In [6]:
#  Selecting features with missing values 
#NA = [(c, df[c].isna().mean()*100) for c in df]
#NA = pd.DataFrame(NA, columns=["column_name", "percentage"])

# Display the percentage of missing values in each feature 
#NA = NA[NA.percentage > 0]
#NA.sort_values("percentage", ascending=False)

In [8]:
df.Description.str.lower().head(8)  # Convert all comments to lowercase

0    our fast paced client in calgary is currently ...
1    get to know vault credit corporation\nvault is...
2    our client, a retail giant in the toronto area...
3    policy analyst \nare you have experience devel...
4    if you are an experienced business intelligenc...
5    adecco is currently hiring for a temporary, fu...
6    delta school district acknowledges that we lea...
7    are you interested in the world of data? do yo...
Name: Description, dtype: object

In [11]:
df.Description.str.len().head(30)  # Get the length of all comments

0     2386
1     3001
2     3898
3     7269
4     2556
5     2376
6     3618
7     4461
8     1532
9     4604
10    4915
11    6282
12    5425
13    3782
14    3903
15    5330
16    4708
17    5172
18    3717
19    1748
20    4163
21    8709
22     672
23    5583
24    7736
25    4769
26    3566
27    2810
28    5367
29    5084
Name: Description, dtype: int64

In [ ]:
print(df)