In [1]:
# Required python packages:
 
import pandas as pd

In [2]:
# Importing dataset:
df = pd.read_csv("indeedjobs2022.csv")

In [3]:
# Prevewing the values in each feature:
df.apply(lambda col: col.unique())

Title          [Analyst in Immunochemistry, Business and Func...
Company        [Charles River Laboratories, Innergex, Robert ...
Location       [Senneville, QC, Longueuil, QC, Calgary, AB, M...
JobLink        [https://ca.indeed.com/rc/clk?jk=c4aab6cdc26a9...
CompanyLink    [https://ca.indeed.com/cmp/Charles-River-Labor...
DatePosted     [2022-06-17, 2022-06-15, 2022-06-16, 2022-06-2...
ExtractDate                                         [2022-06-22]
Description    [For 70 years, Charles River employees have wo...
Salary         [$19.50 an hour, nan, $65,000â€“$75,000 a year, ...
JobType        [nan, Temporary, Fixed term contract, Full-tim...
Remote                                             [nan, Remote]
Reviews        [782 reviews, 10 reviews, 12,757 reviews, 6,57...
Stars          [3.2, 3.3, 3.9, 3.5, 2.9, nan, 4.0, 3.8, 3.7, ...
dtype: object

In [4]:
#  Selecting features with missing values 
NA = [(c, df[c].isna().mean()*100) for c in df]
NA = pd.DataFrame(NA, columns=["column_name", "percentage"])

# Display the percentage of missing values in each feature 
NA = NA[NA.percentage > 0]
NA.sort_values("percentage", ascending=False)

    column_name  percentage
10       Remote   88.666667
8        Salary   85.333333
9       JobType   37.333333
11      Reviews   19.333333
12        Stars   19.333333
2      Location    8.000000
1       Company    1.333333
4   CompanyLink    1.333333

In [5]:
df = df.drop_duplicates(subset=['Description'], keep='last')

In [6]:
#  Selecting features with missing values 
NA = [(c, df[c].isna().mean()*100) for c in df]
NA = pd.DataFrame(NA, columns=["column_name", "percentage"])

# Display the percentage of missing values in each feature 
NA = NA[NA.percentage > 0]
NA.sort_values("percentage", ascending=False)

    column_name  percentage
10       Remote   88.571429
8        Salary   77.142857
9       JobType   37.142857
11      Reviews   22.857143
12        Stars   22.857143
2      Location    5.714286
1       Company    2.857143
4   CompanyLink    2.857143

In [7]:
print(df)