In [1]:
# Required python packages:
import sqlite3
import pandas as pd
import re
import numpy as np
import seaborn as sns
import math
from wordcloud import WordCloud, STOPWORDS
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt

In [2]:
# Importing dataset:
df = pd.read_csv("indeedjobs2022.csv")

In [3]:
# Prevewing the values in each feature:
df.apply(lambda col: col.unique())

# Row count
print(len(df))

3701

In [4]:
# Remove useless features 
df.drop(['Salary', 'Reviews', 'CompanyLink', 'Stars', 'JobLink', 'CompanyLink', 'DatePosted'], axis=1, inplace=True)

In [5]:
#  Selecting features with missing values 
NA = [(c, df[c].isna().mean()*100) for c in df]
NA = pd.DataFrame(NA, columns=["column_name", "percentage"])

# Display the percentage of missing values in each feature
NA = NA[NA.percentage > 0]
NA.sort_values("percentage", ascending=False)

   column_name  percentage
6       Remote   77.384491
5      JobType   32.504728
2     Location    7.430424
1      Company    2.188598
0        Title    1.648203
4  Description    1.648203

In [6]:
df = df.drop_duplicates(subset=['Description'], keep='last')

In [7]:
# Row count
print(len(df))

# Prevewing the values in each feature
print(df.apply(lambda col: col.unique()))

2116
Title          [Master Data Analyst, Business Intelligence An...
Company        [Robert Half, Vault Credit Corporation, Adecco...
Location       [Calgary, AB, Montr√©al, QC, Ottawa, ON, Delta,...
ExtractDate    [2022-06-22, 2022-06-23, 2022-06-25, 2022-07-0...
Description    [Our fast paced client in Calgary is currently...
JobType        [Temporary, Fixed term contract, nan, Fixed te...
Remote          [nan, Remote, Hybrid remote, Temporarily remote]
dtype: object

In [8]:
#  Selecting features with missing values 
NA = [(c, df[c].isna().mean()*100) for c in df]
NA = pd.DataFrame(NA, columns=["column_name", "percentage"])

# Display the percentage of missing values in each feature 
NA = NA[NA.percentage > 0]
NA.sort_values("percentage", ascending=False)

   column_name  percentage
6       Remote   77.835539
5      JobType   34.357278
2     Location    4.962193
1      Company    0.803403
0        Title    0.047259
4  Description    0.047259

In [9]:
#df.Description.str.lower().head(8)  # Convert all comments to lowercase

In [10]:
dfl = df.Title.str.lower()
data_analyst = dfl.str.contains("data analyst")
#business_intelligence = dfl.str.contains("business intelligence")
#senior_analyst = dfl.str.contains("senior analyst")
#business_analyst = dfl.str.contains("business analyst")
#payroll_analyst = dfl.str.contains("payroll analyst")
#security_analyst = dfl.str.contains("security analyst")
#analyst = dfl.str.contains("analyst")

df['data_analyst'] = data_analyst
#df['business_intelligence'] = business_intelligence
#df['senior_analyst'] = senior_analyst
#df['business_analyst'] = business_analyst
#df['payroll_analyst'] = payroll_analyst
#df['security_analyst'] = security_analyst
#df['analyst'] = analyst

In [11]:
data_analyst = round(((np.count_nonzero(data_analyst))/(df.Description.count())*100), 3)
#business_intelligence = round(((np.count_nonzero(business_intelligence))/(df.Description.count())*100), 3)
#senior_analyst = round(((np.count_nonzero(senior_analyst))/(df.Description.count())*100), 3)
#business_analyst = round(((np.count_nonzero(business_analyst))/(df.Description.count())*100), 3)
#payroll_analyst = round(((np.count_nonzero(payroll_analyst))/(df.Description.count())*100), 3)
#security_analyst = round(((np.count_nonzero(security_analyst))/(df.Description.count())*100), 3)
#analyst = round(((np.count_nonzero(analyst))/(df.Description.count())*100), 3)

In [12]:
#df2 = pd.DataFrame({"Name":['data_analyst', 'business_intelligence', 'senior_analyst', 'business_analyst', 'payroll_analyst', 'security_analyst', 'analyst'],
                 #  "Percentage":[data_analyst, business_intelligence, senior_analyst, business_analyst, payroll_analyst, security_analyst, analyst]})

In [13]:
df = df[df['data_analyst'] == True]

In [14]:
dfl = df.Description.str.lower()
python = dfl.str.contains("python")
powerbi = dfl.str.contains("power bi")
tableau = dfl.str.contains("tableau")
r = dfl.str.contains(" r ")
bigquery = dfl.str.contains("bigquery")
azure = dfl.str.contains("azure")
googlesheets = dfl.str.contains("google sheets")
aws = dfl.str.contains("aws ")
sql = dfl.str.contains("sql")
excel = dfl.str.contains("excel")
java = dfl.str.contains("java")
scala = dfl.str.contains("scala")

df['python'] = python
df['powerbi'] = powerbi
df['tableau'] = tableau
df['r'] = r
df['bigquery'] = bigquery
df['azure'] = azure
df['googlesheets'] = googlesheets
df['aws'] = aws
df['sql'] = sql
df['excel'] = excel
df['java'] = java
df['scala'] = scala

In [15]:
python = round(((np.count_nonzero(python))/(df.Description.count())), 3)
powerbi = round(((np.count_nonzero(powerbi))/(df.Description.count())), 3)
tableau = round(((np.count_nonzero(tableau))/(df.Description.count())), 3)
r = round(((np.count_nonzero(r))/(df.Description.count())), 3)
bigquery = round(((np.count_nonzero(bigquery))/(df.Description.count())), 3)
azure = round(((np.count_nonzero(azure))/(df.Description.count())), 3)
googlesheets = round(((np.count_nonzero(googlesheets))/(df.Description.count())), 3)
aws = round(((np.count_nonzero(aws))/(df.Description.count())), 3)
sql = round(((np.count_nonzero(sql))/(df.Description.count())), 3)
excel = round(((np.count_nonzero(excel))/(df.Description.count())), 3)
java = round(((np.count_nonzero(java))/(df.Description.count())), 3)
scala = round(((np.count_nonzero(scala))/(df.Description.count())), 3)

In [16]:
df1 = pd.DataFrame({"Name":['python', 'powerbi', 'tableau', 'r', 'bigquery', 'azure', 'googlesheets', 'aws', 'sql', 'excel', 'java', 'scala'],
                   "Percentage":[python, powerbi, tableau, r, bigquery, azure, googlesheets, aws, sql, excel, java, scala]})

In [17]:
df1.sort_values("Percentage", ascending=False)

            Name  Percentage
9          excel       0.703
8            sql       0.635
0         python       0.387
2        tableau       0.300
1        powerbi       0.234
11         scala       0.093
5          azure       0.074
3              r       0.068
7            aws       0.060
10          java       0.054
4       bigquery       0.025
6   googlesheets       0.025

In [18]:
df['postal'] = df['Location'].str[-2:]

In [19]:
# Feature mapping for all true/false column
python =   {True : "python", False : ""}
df['python'] = df['python'].map(python)

powerbi =   {True : "powerbi", False : ""}
df['powerbi'] = df['powerbi'].map(powerbi)

tableau =   {True : "tableau", False : ""}
df['tableau'] = df['tableau'].map(tableau)

r =   {True : "r", False : ""}
df['r'] = df['r'].map(r)

bigquery =   {True : "bigquery", False : ""}
df['bigquery'] = df['bigquery'].map(bigquery)

azure =   {True : "azure", False : ""}
df['azure'] = df['azure'].map(azure)

googlesheets =   {True : "googlesheets", False : ""}
df['googlesheets'] = df['googlesheets'].map(googlesheets)

aws =   {True : "aws", False : ""}
df['aws'] = df['aws'].map(aws)

sql =   {True : "sql", False : ""}
df['sql'] = df['sql'].map(sql)

excel =   {True : "excel", False : ""}
df['excel'] = df['excel'].map(excel)

java =   {True : "java", False : ""}
df['java'] = df['java'].map(java)

scala =   {True : "scala", False : ""}
df['scala'] = df['scala'].map(scala)

In [20]:
print(df)

                                             Title  \
0                              Master Data Analyst
5     Clinical Data Analyst - Blood Gas Specialist
8                Clinical Data Analyst - Blood Gas
246                            Data Analyst Mentor
248                   HR Data Analyst/BI Developer
...                                            ...
3362                          Senior Data Analysts
3365     Senior Business Intelligence Data Analyst
3446     Senior Anti Money Laundering Data Analyst
3471            Senior Data Analyst, Oncology PRCC
3579            Data Analyst / Analyste de donn√©es

                           Company                  Location ExtractDate  \
0                      Robert Half               Calgary, AB  2022-06-22
5                    Adecco Canada                Ottawa, ON  2022-06-22
8     MaxSys Staffing & Consulting                Ottawa, ON  2022-06-22
246                        AzureHR             Vancouver, BC  2022-06-23
248                       Manulife              Waterloo, ON  2022-06-23
...                            ...                       ...         ...
3362             Dawn InfoTek Inc.  Greater Toronto Area, ON  2022-07-25
3365         Mastercard Foundation               Toronto, ON  2022-07-25
3446           BMO Financial Group               Toronto, ON  2022-07-25
3471      Trillium Health Partners           Mississauga, ON  2022-07-25
3579                       Genetec              Montr√©al, QC  2022-07-25

                                            Description  \
0     Our fast paced client in Calgary is currently ...
5     Adecco is currently hiring for a temporary, fu...
8     Clinical Data Analyst ‚Äì Blood Gas Specialist \...
246   Job Description: \n\nPrepare, administer, and ...
248   Are you looking for a supportive, collaborativ...
...                                                 ...
3362  Dawn InfoTek Inc. is a professional IT consult...
3365  Reporting to the Business Intelligence Operati...
3446  Address: 100 King Street West \n \n\n\n\n\n\n\...
3471  Job Description:\n \n\n Position: Senior Data ...
3579  The team:\n The Data Analyst will create, main...

                             JobType Remote data_analyst  python  powerbi  \
0     Temporary, Fixed term contract    NaN         True
5                Fixed term contract    NaN         True
8                Fixed term contract    NaN         True
246                              NaN    NaN         True  python
248                        Full-time    NaN         True  python  powerbi
...                              ...    ...          ...     ...      ...
3362                             NaN    NaN         True  python  powerbi
3365                             NaN    NaN         True
3446                       Full-time    NaN         True  python
3471                       Full-time    NaN         True          powerbi
3579                       Full-time    NaN         True          powerbi

      ...  r bigquery  azure  googlesheets  aws  sql  excel  java scala postal
0     ...                                             excel                 AB
5     ...                                             excel                 ON
8     ...                                             excel                 ON
246   ...                     googlesheets       sql  excel                 BC
248   ...  r           azure                aws  sql                        ON
...   ... ..      ...    ...           ...  ...  ...    ...   ...   ...    ...
3362  ...                                        sql         java           ON
3365  ...                                        sql  excel                 ON
3446  ...              azure                aws  sql                        ON
3471  ...                                        sql  excel                 ON
3579  ...              azure                     sql  excel                 QC

[367 rows x 21 columns]

In [21]:
df.to_csv("indeedjobs2022cleaned.csv", index = False)

In [22]:
df1.to_csv("indeedjobs2022toolpercentage.csv", index = False)