In [1]:
# Required python packages:
import pandas as pd
import re
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Importing datasets:
df = pd.read_csv("Jobs.csv")

In [3]:
df1 = df.drop(['error', 'timestamp', 'query','companyUrl','applicantsCount',
               'viewsCount','appliesClosedAt', 'companyLogoUrl', 'applyUrl', 
               'jobState', 'jobPosterProfileUrl', 'jobPosterName','hiringManager', 
               'coverLetter', 'pipeLine', 'mySkills', 'skillsCount','excel', 
               'tableau', 'python', 'sql', 'power bi', 'R', 'google sheets',
               'qgis', 'appDate','remoteAllowed'], axis=1)

In [4]:
df1['jobDescription'] = df1['jobDescription'].str.lower()

In [5]:
# print the column names
print(df1.columns)

Index(['companyName', 'jobTitle', 'jobLocation', 'postedAt', 'jobDescription',
       'jobId', 'workplaceType', 'experienceLevel', 'companyStaffCount',
       'companyDescription', 'jobIndustries', 'jobFunctions', 'jobType'],
      dtype='object')

In [6]:
import pandas as pd

def find_keywords(series, keywords):
    # create a new column to store the keywords
    keywords_col = pd.Series('', index=series.index)
    # loop through each row in the column
    for i, text in series.iteritems():
        # check for null values
        if text is not None and not pd.isnull(text):
            row_keywords = []
            # loop through each keyword
            for keyword in keywords:
                if keyword in text:
                    # if the keyword is in the text, add it to the list of row_keywords
                    row_keywords.append(keyword)
            # join the row_keywords list into a string and add it to the 'keywords' column
            keywords_col.at[i] = ', '.join(row_keywords)
    return keywords_col

In [7]:
keywords = ['excel', 'tableau', 'python', ' sql', 'power bi', ' r ', 'google sheets', 'qgis'
           ' asw', ' azure', 'snowflake', 'redshift', 'databricks', ' oracle', ' gcp', 'bigquery'
           ' java ', 'scala', ' sas ', 'nosql', '', 'javescript', 'c++', 'c#'
           ' c ', 'html', ' word ', 'sql servr', 'mysql', ' spark ', 'hadoop', 'kafka']

df1['keywords'] = find_keywords(df1['jobDescription'], keywords)

In [8]:
def print_unique_keywords(df1):
    unique_keywords = df1['keywords'].unique()
    for keyword in unique_keywords:
        print(keyword)
        
print_unique_keywords(df1)

excel, tableau, python,  sql, power bi,  r , scala,
 sql, power bi,
excel,  sql, power bi,
excel, power bi,
excel, python, , c++
excel, python, , html
excel, tableau, python,  sql, scala,
excel, tableau,  sql, power bi,
excel,
excel, tableau, power bi,

python,  sql,
python, power bi,  azure, databricks,
python,
excel, python,  r ,  azure, databricks,
excel, python,  sql,
excel, tableau, python,  sql, power bi,
excel,  sql,  oracle,
excel, tableau,  sql,  oracle,
excel, python, power bi,
excel, python, power bi,  r ,
excel, tableau, python,  sql, power bi,  r ,
excel, tableau, python,  sql,  sas ,
excel,  gcp,
excel, python,  sql, power bi,
excel, google sheets,
excel, tableau, python,  sql,  azure, nosql,
excel, python, power bi,  sas ,
excel, tableau, python,  sql, snowflake, scala,
excel,  sql, power bi,  azure,
excel, tableau,  sql, , hadoop
excel,  sql,  sas ,
excel, tableau,  sql,
excel, tableau, python,  sql,
python,  sql, scala, , hadoop
excel, tableau,
excel, python,  sql, google sheets, snowflake,
python,  sql, power bi,
excel,  sql,
excel,  sql, power bi,  r ,  sas , nosql,
scala, nosql,
excel, python,  sql, power bi, ,  word
excel, tableau,  sql, power bi, snowflake,
excel,  sql, power bi,  azure, databricks, scala,
python, , c++
tableau,  sql,  oracle, , mysql
tableau, databricks,
excel, tableau,  sql,  sas ,
 sql,
python,  sql,  azure, scala,
tableau,
excel, python,  sql, , mysql
tableau, python,
excel, tableau, python,  sql, power bi, ,  spark
excel, tableau,  sql, power bi,  azure,
excel,  sql, scala, , hadoop
excel,  sas ,
excel, python,  sql,  r , ,  word
excel, python,
excel,  sql, power bi,  sas ,
excel,  sql, power bi,  azure, snowflake,  oracle, nosql, , hadoop
excel,  oracle,
excel, tableau, python,  sql,  r ,
python,  sql,  r ,  oracle,
excel, tableau, python, power bi,
excel, tableau, python,  sql, power bi,  azure,
excel,  sql, power bi,  oracle,
python,  oracle, , mysql
excel, tableau, python,  sql, , mysql
excel, scala,
excel,  sql, power bi,  azure, scala,
excel, python,  oracle, , mysql
snowflake,
tableau,  sql,
excel, tableau, python, , html
excel, tableau, python,  sql,  azure, databricks,
excel,  sql, scala,
python,  sql, , kafka
excel, tableau, python,  sql, snowflake,  sas ,
excel,  sql,  azure, snowflake, databricks,
python,  sql, power bi,  r , snowflake, databricks, , hadoop
excel, tableau,  sql, power bi,  azure, scala,
tableau,  sql, power bi, snowflake,
excel, tableau, python,  sql, power bi,  azure, snowflake, databricks,
excel, python,  sql, power bi, redshift,
tableau, python,  sql, , mysql
power bi,  azure,
tableau, python, power bi, nosql,
tableau, power bi,
 sql, power bi,  oracle, , mysql
excel,  sql, power bi, snowflake,
,  word
tableau,  sql, snowflake, , html
tableau, python,  sql, power bi,  azure, , c++, html, mysql
tableau, power bi,  azure, databricks,  gcp,
tableau, python,  sql,  r ,
tableau, python,  sql,  azure, snowflake, redshift,  oracle,  gcp,
excel, tableau,  sql,  azure,
tableau, python,  sql,
python,  sql,  azure, databricks,  oracle,
excel, python,  sql, redshift,
google sheets,
excel, python,  sql, power bi,  gcp,
excel, python,  sql, power bi, google sheets, , mysql
tableau,  sql, databricks,
excel, python,  r ,
excel,  sql, , mysql
excel, python,  sql, , kafka
excel,  sql, power bi,  azure, snowflake, , hadoop
tableau, python,  r ,
excel, tableau, ,  word
scala,
 sql, scala, nosql, ,  spark , hadoop
 sas ,
excel,  sql, snowflake,  oracle,
excel, tableau, power bi, scala,
power bi,  azure, databricks,
excel, tableau, python,
excel,  sql, power bi, scala,
excel, python,  sql,  r ,
python,  sql,  r ,
excel, tableau, python,  sql, power bi,  r ,  azure, snowflake, databricks, ,  spark
power bi,  azure, scala,
excel,  azure, snowflake,
excel,  sql, power bi, ,  word
excel,  sql, snowflake,  oracle, , mysql, kafka
python,  sql, , c++
excel, python, scala, , html
excel,  sql, power bi,  azure, databricks,
excel, python,  sql,  azure, , mysql
excel, python,  sql, power bi,  r ,
excel, python,  sql,  r , snowflake, , c++
 sql, databricks, , hadoop
excel, tableau, python,  sql,  r , redshift, , mysql
excel, python, , mysql
python, , mysql
tableau, power bi,  azure, scala,
excel, python,  azure, databricks,  gcp, nosql, , mysql, kafka
snowflake,  oracle,
excel, tableau,  azure, snowflake, redshift, databricks,  gcp, , hadoop, kafka
tableau,  azure, snowflake,
excel, python,  sql, power bi,  azure,
tableau,  sql, power bi,
excel, power bi,  sas ,
python,  r ,  sas , ,  spark
excel, python,  sql, power bi,  r , , mysql
excel, python,  sql, ,  word
 oracle,
tableau, python,  sql, redshift,
 sql, snowflake,
excel, tableau,  sql, power bi, scala,
 sql, power bi,  azure,
excel,  azure,
python,  r ,
excel, python,  sql,  gcp,
excel, tableau,  sql,  oracle, , mysql
excel, python, databricks, nosql, , mysql
 sql,  oracle, scala,
excel, python,  sql,  azure, ,  spark
tableau, python,  sql, power bi,  r ,
excel, power bi, ,  word
excel, python,  sql,  azure,
tableau, python,  sas ,
excel, tableau,  sql, scala,
excel, tableau, python,  sql, power bi,  oracle,
excel, power bi,  azure, scala,
excel, power bi,  oracle,
excel, tableau, python,  sql, google sheets,  oracle,
tableau,  azure,  gcp,
excel, tableau, python, power bi,  azure, databricks,
excel, ,  word
excel, tableau,  sql, , c++
excel, python,  sql, scala,
power bi,
, hadoop
excel, python,  sql, power bi, , mysql
excel,  sql, nosql,
snowflake,  sas ,
tableau, python,  sql,  r ,  sas ,
excel,  sql,  azure, ,  spark
excel, python,  sql, power bi, scala,
 sql,  azure,
excel,  sql, snowflake,  oracle, nosql, , hadoop
excel, tableau,  sql, ,  word
excel, tableau, python,  sql,  gcp,  sas ,
tableau,  sql,  azure,
excel, python, power bi,  azure,
tableau, python,  sql, power bi,
excel, python,  sql, scala, ,  spark , hadoop, kafka
python,  sql, snowflake, nosql,
excel,  sql, snowflake,
python,  sql, scala,
 r ,  sas ,
excel,  sql, redshift,
excel, tableau, python,  sql, power bi, snowflake,
excel, , html
excel, python,  sql, power bi, snowflake,
excel,  sql, google sheets,
 azure, snowflake,
 sql,  azure,  oracle,
excel, tableau,  r , scala,
excel, tableau,  sql, snowflake,
python,  sql, power bi,  azure, snowflake,  gcp, scala,
excel,  sql,  azure,
excel, tableau,  sql, redshift,
excel, tableau,  sql, power bi,  oracle,
excel,  sas , , html,  word
tableau, python,  sql,  azure, databricks, scala,
excel, python,  sql, , html, kafka
excel, snowflake, redshift, , mysql
 azure, scala,
excel, tableau, python,  sql, power bi,  sas ,
excel, tableau, python,  gcp,
 azure,
 sql,  azure, , c++
excel, python,  azure, scala,
databricks, scala, , hadoop, kafka
scala, , hadoop, kafka
excel, python,  azure,  oracle,
excel, python,  gcp,
excel, python, scala,
python,  azure, databricks, scala,
 sql,  oracle, scala, nosql, , html, mysql
excel, scala, , c++, kafka
excel, python,  azure,  gcp, , kafka
, html
excel,  azure,  oracle, nosql, , mysql
excel,  azure, scala,
python,  sql,  r ,  azure,  oracle,  sas ,
, html, mysql
 sql, scala,
excel, python,  gcp, scala, nosql,
 gcp, , mysql, kafka
excel, python,  azure, snowflake,
excel, python,  sql, scala, , c++
excel, python,  sql, power bi,  azure, snowflake, databricks, scala, ,  spark
scala, , kafka
excel, python, scala, , hadoop
excel,  gcp, , c++, html
, mysql
excel, python,  sql,  gcp, scala,
excel, scala, , kafka
excel,  sql, scala, , html
excel, python, power bi,  azure,  sas ,
excel, tableau, python,  sql,  r , google sheets, redshift, scala,
excel, tableau, python,  sql,  gcp,
excel, python,  sql, power bi,  r ,  oracle,
excel, tableau, python,  sql, scala,  sas ,
tableau,  sql, power bi,  azure,
excel, tableau, python,  sql, power bi,  r ,  oracle,
tableau, python, power bi,  oracle,
excel, snowflake,
 sql, power bi,  azure,  oracle,
 sql, , html, mysql
excel, , html, mysql
tableau, python,  sql,  azure,
excel,  sql,  azure, scala,
python,  sql,  azure,  gcp, , c++
excel, python, scala, , c++
excel, tableau,  sql, power bi, snowflake,  oracle, , mysql
python,  sql, nosql, , c++,  spark , hadoop
excel,  sql,  r , scala,
nosql, , html
 sql, scala, , html
python, scala,
scala, , c++
excel, scala, ,  word
python,  gcp,
python,  sql,  azure,
excel,  sql, ,  spark , hadoop
 sql,  azure, databricks, nosql, , mysql
excel, python,  azure,  gcp,
excel,  azure,  oracle,  gcp, , html
 azure,  gcp, scala, , kafka
excel,  azure, scala, nosql, , mysql
 gcp,
excel, python,  sql, , c++
python, scala, nosql, , c++,  spark
excel, python,  azure, , c++
python,  azure,  gcp,
tableau,  sql, power bi,  oracle, nosql,
excel, power bi,  azure, ,  word
excel, tableau, python,  sql, power bi,  azure, scala, nosql, , mysql, hadoop
tableau, python,  sql, google sheets,
excel, tableau,  sql,  azure, , hadoop
excel, python,  sql,  oracle,
excel, python,  sql, databricks,
python, , c++, kafka
python,  sas ,
tableau,  sql, power bi, , hadoop
excel, python, power bi,  oracle,
excel, python,  sql, nosql, , hadoop
excel, tableau, python,  sql,  oracle,  gcp, , mysql, hadoop
excel, tableau, python,  sql, snowflake, , mysql
scala, , html
excel, python,  sql, scala, ,  word
excel,  sql,  gcp, scala, , kafka
, c++
excel, python,  sql, snowflake, redshift, ,  spark , kafka
python,  sql, scala, , html
excel, , c++
 azure, scala, , c++
 sql,  azure, scala, , html
 azure, , html
python,  azure, scala,
excel,  sql,  azure, scala, , html
python, scala, , c++
excel, python,  sql,  azure,  oracle, scala,
excel, python,  sql, databricks, scala, nosql, , mysql
excel,  sql,  azure,  oracle, scala, , html
excel,  sql,  azure,  gcp,
 azure, scala, , hadoop
excel, tableau, python,  sql, , hadoop
excel, tableau, python,  sql, snowflake, redshift, scala, , html, hadoop, kafka
 azure, scala, nosql, , html
excel, python,  azure, databricks, , html
excel, power bi,  azure,
excel,  sql,  gcp,
excel, tableau, python,  sql,  r , , html
excel, tableau, python,  azure,
excel,  sql, nosql, , html
python, databricks, scala, ,  spark , kafka
excel, python,  sql, snowflake,  oracle,
 sql,  azure, nosql,
 sql,  azure, , c++, html
excel, python,  azure,
excel,  sql, scala, nosql,
 azure, , c++
, kafka
excel,  sql,  azure, , mysql, kafka
excel, tableau, python,  sql, snowflake, scala, nosql, , kafka
excel,  sql, power bi, redshift, scala, , mysql
excel,  azure,  oracle,  gcp,
excel, , c++, html
python,  azure,  gcp, scala,
 azure,  gcp, , html, mysql
 sql,  oracle, , mysql
excel, scala, , html
python,  sql,  azure,  gcp, nosql,
excel,  azure, , mysql
excel, python, ,  word
excel,  sql,  azure, snowflake, scala,
python,  sql, redshift, nosql, , c++, hadoop, kafka
 oracle,  gcp, , hadoop
python, databricks, scala, ,  spark , hadoop, kafka
tableau, python,  sql, snowflake, redshift,
excel,  sql, power bi, nosql,
 r ,
excel, python,  sql, power bi,  r , scala,
excel, python,  sql, power bi,  azure,  oracle, ,  spark
python,  sql,  gcp, scala, nosql, , hadoop
excel, python,  sql, scala, nosql, , hadoop
python, snowflake, redshift, , c++
excel, python,  sql, snowflake, redshift, scala, , mysql
python,  sql,  gcp, scala, nosql, ,  word , hadoop
python,  sql,  gcp, nosql,
excel, tableau, python,  sql, google sheets, redshift, scala,
excel, python,  sql,  azure, databricks,  oracle, scala, nosql, ,  word
python,  sql, snowflake,
 sql,  gcp,

In [9]:
print(df1.keywords.head(50))

0     excel, tableau, python,  sql, power bi,  r , s...
1                                       sql, power bi,
2                               excel,  sql, power bi,
3                                     excel, power bi,
4                                  excel, python, , c++
5                                 excel, python, , html
6                 excel, tableau, python,  sql, scala,
7                      excel, tableau,  sql, power bi,
8                                               excel,
9                            excel, tableau, power bi,
10
11                                       python,  sql,
12               python, power bi,  azure, databricks,
13                                             python,
14             excel, python,  r ,  azure, databricks,
15                                excel, python,  sql,
16
17             excel, tableau, python,  sql, power bi,
18                               excel,  sql,  oracle,
19                      excel, tableau,  sql,  oracle,
20                            excel, python, power bi,
21                       excel, python, power bi,  r ,
22                                      sql, power bi,
23        excel, tableau, python,  sql, power bi,  r ,
24                                              excel,
25                excel, tableau, python,  sql,  sas ,
26                                        excel,  gcp,
27                      excel, python,  sql, power bi,
28                               excel, google sheets,
29        excel, tableau, python,  sql,  azure, nosql,
30                     excel, python, power bi,  sas ,
31     excel, tableau, python,  sql, snowflake, scala,
32                                              excel,
33                      excel,  sql, power bi,  azure,
34     excel, tableau, python,  sql, snowflake, scala,
35
36
37                                              excel,
38                       excel, tableau,  sql, , hadoop
39                                              excel,
40                                              excel,
41                                excel, python,  sql,
42                                 excel,  sql,  sas ,
43                              excel,  sql, power bi,
44                               excel, tableau,  sql,
45                       excel, tableau, python,  sql,
46
47                              excel,  sql, power bi,
48        excel, tableau, python,  sql, power bi,  r ,
49             excel, tableau, python,  sql, power bi,
Name: keywords, dtype: object