In [1]:
# Required python packages:
import pandas as pd
import re
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Importing datasets:
df = pd.read_csv("indeedjobs2022.csv")
df2 = pd.read_csv("result2.csv")

In [3]:
# Remove useless features 
df.drop(['Salary', 'Reviews', 'CompanyLink', 'Stars', 'JobLink',
         'CompanyLink', 'DatePosted'], axis=1, inplace=True)

df2.drop(['error', 'query', 'companyUrl', 'postedAt', 'appliesClosedAt',
         'jobId', 'applicantsCount', 'companyLogoUrl', 'applyUrl',
         'viewsCount', 'jobState', 'jobPosterProfileUrl',
         'jobPosterName', 'applicantsInPastDay', 'matchedSkills',
         'remoteAllowed', 'experienceLevel', 'companyStaffCount',
         'jobIndustries', 'jobFunctions', 'remoteAllowed',
         'companyDescription'], axis=1, inplace=True)

In [4]:
# Remaning columns in df2
df2 = df2.rename(columns={'timestamp': 'ExtractDate', 'companyName': 'Company',
                          'jobTitle': 'Title', 'jobLocation': 'Location',
                          'jobDescription': 'Description', 'workplaceType': 'Remote',
                         'jobType': 'JobType'})

In [5]:
# changing the order of columns in df2
df2 = df2.loc[:,['Title', 'Company', 'Location', 'ExtractDate', 'Description', 'JobType', 'Remote']]

In [6]:
df = pd.concat([df2, df])

In [7]:
df = df.drop_duplicates(subset=['Description'], keep='last')

In [8]:
#  Selecting features with missing values 
NA = [(c, df[c].isna().mean()*100) for c in df]
NA = pd.DataFrame(NA, columns=["column_name", "percentage"])

# Display the percentage of missing values in each feature 
NA = NA[NA.percentage > 0]
NA.sort_values("percentage", ascending=False)

   column_name  percentage
6       Remote   75.302013
5      JobType   32.527964
2     Location    4.697987
1      Company    0.805369
0        Title    0.044743
4  Description    0.044743

In [9]:
dfl = df.Title.str.lower()
data_analyst = dfl.str.contains("data analyst")
df['data_analyst'] = data_analyst

In [10]:
df = df[df['data_analyst'] == True]

In [11]:
dfl = df.Description.str.lower()
python = dfl.str.contains("python")
powerbi = dfl.str.contains("power bi")
tableau = dfl.str.contains("tableau")
r = dfl.str.contains(" r ")
bigquery = dfl.str.contains("bigquery")
azure = dfl.str.contains("azure")
googlesheets = dfl.str.contains("google sheets")
aws = dfl.str.contains("aws ")
sql = dfl.str.contains("sql")
excel = dfl.str.contains("excel")
java = dfl.str.contains("java")
scala = dfl.str.contains("scala")

df['python'] = python
df['powerbi'] = powerbi
df['tableau'] = tableau
df['r'] = r
df['bigquery'] = bigquery
df['azure'] = azure
df['googlesheets'] = googlesheets
df['aws'] = aws
df['sql'] = sql
df['excel'] = excel
df['java'] = java
df['scala'] = scala

In [12]:
python = round(((np.count_nonzero(python))/(df.Description.count())), 3)
powerbi = round(((np.count_nonzero(powerbi))/(df.Description.count())), 3)
tableau = round(((np.count_nonzero(tableau))/(df.Description.count())), 3)
r = round(((np.count_nonzero(r))/(df.Description.count())), 3)
bigquery = round(((np.count_nonzero(bigquery))/(df.Description.count())), 3)
azure = round(((np.count_nonzero(azure))/(df.Description.count())), 3)
googlesheets = round(((np.count_nonzero(googlesheets))/(df.Description.count())), 3)
aws = round(((np.count_nonzero(aws))/(df.Description.count())), 3)
sql = round(((np.count_nonzero(sql))/(df.Description.count())), 3)
excel = round(((np.count_nonzero(excel))/(df.Description.count())), 3)
java = round(((np.count_nonzero(java))/(df.Description.count())), 3)
scala = round(((np.count_nonzero(scala))/(df.Description.count())), 3)

In [13]:
df1 = pd.DataFrame({"Name":['python', 'powerbi', 'tableau', 'r', 'bigquery', 'azure', 'googlesheets', 'aws', 'sql', 'excel', 'java', 'scala'],
                   "Percentage":[python, powerbi, tableau, r, bigquery, azure, googlesheets, aws, sql, excel, java, scala]})

In [14]:
df['postal'] = df['Location'].str[-2:]

In [15]:
# Feature mapping for all true/false column
python =   {True : "python", False : ""}
df['python'] = df['python'].map(python)

powerbi =   {True : "powerbi", False : ""}
df['powerbi'] = df['powerbi'].map(powerbi)

tableau =   {True : "tableau", False : ""}
df['tableau'] = df['tableau'].map(tableau)

r =   {True : "r", False : ""}
df['r'] = df['r'].map(r)

bigquery =   {True : "bigquery", False : ""}
df['bigquery'] = df['bigquery'].map(bigquery)

azure =   {True : "azure", False : ""}
df['azure'] = df['azure'].map(azure)

googlesheets =   {True : "googlesheets", False : ""}
df['googlesheets'] = df['googlesheets'].map(googlesheets)

aws =   {True : "aws", False : ""}
df['aws'] = df['aws'].map(aws)

sql =   {True : "sql", False : ""}
df['sql'] = df['sql'].map(sql)

excel =   {True : "excel", False : ""}
df['excel'] = df['excel'].map(excel)

java =   {True : "java", False : ""}
df['java'] = df['java'].map(java)

scala =   {True : "scala", False : ""}
df['scala'] = df['scala'].map(scala)

In [16]:
df.to_csv("indeedjobs2022cleaned.csv", index = False)

In [17]:
df1.to_csv("indeedjobs2022toolpercentage.csv", index = False)