In [1]:
# Required python packages:
import sqlite3
import pandas as pd
import re
import numpy as np
import seaborn as sns
import math
from wordcloud import WordCloud, STOPWORDS
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt

In [2]:
# Importing dataset:
df = pd.read_csv("result.csv")

In [3]:
# Prevewing the values in each feature:
df.apply(lambda col: col.unique())

# Row count
print(len(df))

1937

In [7]:
dfl = df.jobTitle.str.lower()

In [8]:
data_analyst = dfl.str.contains("data analyst")

In [9]:
df['data_analyst'] = data_analyst

In [10]:
df = df[df['data_analyst'] == True]

In [11]:
print(df)

                                              jobUrl       jobId  \
4     https://www.linkedin.com/jobs/view/3211427317/  3211427317
5     https://www.linkedin.com/jobs/view/3213709079/  3213709079
11    https://www.linkedin.com/jobs/view/3213739885/  3213739885
12    https://www.linkedin.com/jobs/view/3209739501/  3209739501
13    https://www.linkedin.com/jobs/view/3211429217/  3211429217
...                                              ...         ...
1742  https://www.linkedin.com/jobs/view/3268952315/  3268952315
1753  https://www.linkedin.com/jobs/view/3268952411/  3268952411
1769  https://www.linkedin.com/jobs/view/3268943772/  3268943772
1782  https://www.linkedin.com/jobs/view/3266763310/  3266763310
1884  https://www.linkedin.com/jobs/view/2960068068/  2960068068

                                        companyName  \
4                                            Procom
5     Global Technical Talent, an Inc. 5000 Company
11                                           Square
12                                           Procom
13                                           Procom
...                                             ...
1742                                          Agoda
1753                                          Agoda
1769                                          Agoda
1782                                      TD SYNNEX
1884                                             F5

                                      companyUrl  \
4         https://www.linkedin.com/company/8235/
5        https://www.linkedin.com/company/19241/
11      https://www.linkedin.com/company/675562/
12        https://www.linkedin.com/company/8235/
13        https://www.linkedin.com/company/8235/
...                                          ...
1742     https://www.linkedin.com/company/66719/
1753     https://www.linkedin.com/company/66719/
1769     https://www.linkedin.com/company/66719/
1782  https://www.linkedin.com/company/74956728/
1884      https://www.linkedin.com/company/4841/

                                               jobTitle  \
4                                          Data Analyst
5                                          Data Analyst
11                          Talent Data Analyst, Square
12                                         Data Analyst
13            SQL Data Analyst - ACL/SAS Data Scripting
...                                                 ...
1742  Data Analyst, Strategic Partnerships( Bangkok ...
1753  Data Analyst (Statistics/Python/BI) (Bangkok-b...
1769  Senior Data Analyst (Bangkok Based, relocation...
1782                     Data Analyst/Financial Analyst
1884        Data Analyst / Fraud/ Subject Matter Expert

                                                logoUrl         location  \
4     https://media-exp1.licdn.com/dms/image/C4E0BAQ...  Mississauga, ON
5     https://media-exp1.licdn.com/dms/image/C4E0BAQ...       Dieppe, NB
11    https://media-exp1.licdn.com/dms/image/C4E0BAQ...     Edmonton, AB
12    https://media-exp1.licdn.com/dms/image/C4E0BAQ...  Mississauga, ON
13    https://media-exp1.licdn.com/dms/image/C4E0BAQ...      Toronto, ON
...                                                 ...              ...
1742  https://media-exp1.licdn.com/dms/image/C4D0BAQ...    Vancouver, BC
1753  https://media-exp1.licdn.com/dms/image/C4D0BAQ...     Montreal, QC
1769  https://media-exp1.licdn.com/dms/image/C4D0BAQ...    Vancouver, BC
1782  https://media-exp1.licdn.com/dms/image/C560BAQ...      Toronto, ON
1884  https://media-exp1.licdn.com/dms/image/C4D0BAQ...       Ottawa, ON

                     insights    postDate  isEasyApply  isPromoted  \
4     1 connection works here  2022-08-09        False       False
5         Actively recruiting  2022-08-05        False       False
11        Actively recruiting  2022-08-09        False       False
12    1 connection works here  2022-08-08        False       False
13    1 connection works here  2022-08-09        False       False
...                       ...         ...          ...         ...
1742      Actively recruiting         NaN        False        True
1753            Top applicant         NaN        False        True
1769      Actively recruiting         NaN        False        True
1782      Actively recruiting         NaN        False        True
1884      Actively recruiting         NaN        False        True

      applicantCount                                             url  \
4                  0  https://www.linkedin.com/jobs/view/3211427317/
5                  6  https://www.linkedin.com/jobs/view/3213709079/
11                 0  https://www.linkedin.com/jobs/view/3213739885/
12                 0  https://www.linkedin.com/jobs/view/3209739501/
13                 0  https://www.linkedin.com/jobs/view/3211429217/
...              ...                                             ...
1742               5  https://www.linkedin.com/jobs/view/3268952315/
1753              13  https://www.linkedin.com/jobs/view/3268952411/
1769               2  https://www.linkedin.com/jobs/view/3268943772/
1782               0  https://www.linkedin.com/jobs/view/3266763310/
1884               0  https://www.linkedin.com/jobs/view/2960068068/

                                                  query category  \
4     https://www.linkedin.com/jobs/search/?currentJ...     Jobs
5     https://www.linkedin.com/jobs/search/?currentJ...     Jobs
11    https://www.linkedin.com/jobs/search/?currentJ...     Jobs
12    https://www.linkedin.com/jobs/search/?currentJ...     Jobs
13    https://www.linkedin.com/jobs/search/?currentJ...     Jobs
...                                                 ...      ...
1742  https://www.linkedin.com/jobs/search/?currentJ...     Jobs
1753  https://www.linkedin.com/jobs/search/?currentJ...     Jobs
1769  https://www.linkedin.com/jobs/search/?currentJ...     Jobs
1782  https://www.linkedin.com/jobs/search/?currentJ...     Jobs
1884  https://www.linkedin.com/jobs/search/?currentJ...     Jobs

                     timestamp isRemote workplaceType  data_analyst
4     2022-08-10T04:52:23.344Z      NaN           NaN          True
5     2022-08-10T04:52:23.345Z     True           NaN          True
11    2022-08-10T04:52:23.345Z      NaN           NaN          True
12    2022-08-10T04:52:23.345Z      NaN           NaN          True
13    2022-08-10T04:52:23.346Z      NaN           NaN          True
...                        ...      ...           ...           ...
1742  2022-09-23T00:06:54.787Z      NaN        Hybrid          True
1753  2022-09-23T00:06:54.788Z      NaN        Hybrid          True
1769  2022-09-23T00:07:01.043Z      NaN        Hybrid          True
1782  2022-09-23T00:07:01.045Z      NaN           NaN          True
1884  2022-09-23T00:07:35.379Z     True        Remote          True

[218 rows x 19 columns]

In [12]:
df.to_csv("result.csv", index = False)